body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}